<div class="home-header white">
  <img class="avatar" src="../../assets/波登可_square.jfif">
  <p class="avatar-name">rabbitkiller</p>
  <a class="github" href="https://github.com/rabbitkiller-dev" target="_blank"></a>
</div>

<div class="link-area">
  <a class="link-button" href="https://resume.rabbitkiller.dev">
    <img src="../../assets/icons/resume.svg">
    <p>兔子简历</p>
  </a>
  <a class="link-button" href="https://blog.rabbitkiller.dev">
    <img src="../../assets/icons/kno_next.svg">
    <p>兔子博客</p>
  </a>
  <a class="link-button">
    <img src="../../assets/icons/kno_next.svg">
    <p>端链接服务</p>
  </a>
</div>
